.title {
    font-family: "Kiwi Maru", serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
  }

  .addtitle {
    font-family: "Kiwi Maru", serif;
    font-weight: 300;
    font-size: 30px;
  }

  .blue {
    background-color: rgb(45, 87, 194)
  }

  .blue:hover {
    background-color: rgb(45, 87, 194, 0.7)
  }

  .yellow {
    background-color: rgb(204, 168, 23)
  }

  .yellow:hover {
    background-color: rgba(204, 168, 23, 0.5)
  }

  .card_transparent {
    background-color: rgb(255, 255, 255, 0.2);
  }
  
  .justify {
    text-align: justify;
  }

  .box_small {
    width: 400px;
    height: 55px;
    margin-bottom: 8px;
    margin-right: 8px;
    position: relative;
    display: inline-block;
    text-align: center;
  }

.bg-image {
    background-image: url("../img/moren.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    position: relative;
    z-index: 1;
}

.bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.bg-image .title {
  color: white;
}

.custom-img {
  width: 100%;
  max-width: 200px; 
  cursor: pointer;
  border: 2px solid transparent;
  outline: none;
}

.custom-img:focus {
  border-color: blue; 
}

.hidden-text {
  display: none;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.custom-img:focus + .hidden-text {
  display: block;
}